#div1{
    box-sizing: border-box;
    margin-top: 2px;
    background-color: aqua;
    height:auto;
    
}


.div1 .row .col-lg-12 .col2{
    color: black;
    text-align: center;
    background-color: aquamarine;
    
}